<div id="Projects" class="center-align-items align-items-center">

    <div class="row marge-left">
        <h1 class="Helvt">JavaScript / TypeScript</h1>
    </div>
    <div class="BottomBlueLigne marge-left marge-bot"></div>

    <div class="row marge-top marge-left">
        <div class="col-lg-3 col-md-4 col-12 Taille imagerie" id="Calcul">
            <a href="#" routerLink="./Calculatrice" id="Calculatrice"><img src=".\assets\Image\Calculatrice.PNG" alt="Calculatrice"></a>
            <p>Calculatrice</p>
        </div>
        <div class="col-lg-3 col-md-4 col-12 Taille imagerie">
            <a href="#" routerLink="./Piano" id="Piano"><img src=".\assets\Image\Piano.PNG" alt="Calculatrice"></a>
            <p>Piano</p>
        </div>
        
            <div class="col-lg-3 col-md-4 col-12 Taille"></div>
        <div class="col-lg-3 col-md-4 col-12 Taille"></div>
    </div>
    <br>

    <div class="row marge-left">
        <h1 class="Helvt">Java</h1>
    </div>
    <div class="BottomBlueLigne marge-left marge-bot"></div>

    <div class="row marge-top marge-left">
        <div class="col-lg-3 col-md-4 col-12 Taille imagerie">
            <a href="#" routerLink="./Taquin" id="Calculatrice"><img src=".\assets\Image\Taquin.png" alt="Calculatrice"></a>
            <p>Résolution de grilles de Taquin avec l'algorithme A*</p>
        </div>
        <div class="col-lg-3 col-md-4 col-12 Taille imagerie">
            <a href="#" routerLink="./Puissance4" id="Calculatrice"><img src=".\assets\Image\Puissance4.png" alt="Calculatrice"></a>
            <p>Puissance 4 avec IA basé sur l'algorithme Alpha-Beta</p>
        </div>
        <div class="col-lg-3 col-md-4 col-12 Taille"></div>
        <div class="col-lg-3 col-md-4 col-12 Taille"></div>
    </div>
    <br>
    
    


</div>