<div class="wrap">
    
    <div class="text-center">
        <div class="row">
            <div class="col-md-6">
                <div class="row marge-left">
                    <h1 class="Helvt">INFO RAPIDE</h1>
                </div>
                <div class="BottomBlueLigne marge-left marge-bot"></div>
                
                <br>

                <div class="row text-left marge-left">
                    <div class="col-md-4">
                        <h4 class="font-weight-bold">Téléphone<br><br>E-mail</h4>
                    </div>
                    <div class="col-md-8 ">
                        <p>07.82.34.64.32 <br><br>laurentsavivanh@gmail.com</p>
    
                    </div>
                </div>
                

            </div>
            <div class="col-md-6">
                <div class="row marge-left">
                    <h1 class="Helvt">RESEAUX SOCIAUX</h1>
                </div>
                <div class="BottomBlueLigne marge-left marge-bot"></div>
                
                <br>

                <div class="row text-left marge-left" id="social">
                    <div class="col-md-4">
                        <button class="btn nodeco size"><fa-icon [icon]="faLinkedin" class="h1 text-primary " ></fa-icon></button>
                    </div>
                    <div class="col-md-4 ">
                        <button class="btn nodeco size"><fa-icon [icon]="faFacebook" class="h1 text-primary " ></fa-icon></button>
                    </div>
                    <div class="col-md-4 ">
                        <button class="btn nodeco size"><fa-icon [icon]="faTwitter" class="h1 text-primary " ></fa-icon></button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    

</div>