<div class="wrap align-items-center">
    <br>
    <div class="text-center">
        <div class="row responsive-marge-top">
            <div class="col-md-6">
                <div class="row marge-left ">
                    <h1 class="Helvt">INFO RAPIDE</h1>
                </div>
                <div class="BottomBlueLigne marge-left marge-bot"></div>
                
                <br>

                <div class="row text-left marge-left">
                    <div class="row">
                        <div class="col-lg-6 col-12 col-sm-12"><h4 class="font-weight-bold">Téléphone</h4></div>
                        <div class="col-lg-6 col-12 col-sm-12"><p>07.82.34.64.32</p></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-12 col-sm-12"><h4 class="font-weight-bold">E-Mail</h4></div>
                        <div class="col-lg-8 col-12 col-sm-12"><p>laurentsavivanh@gmail.com</p></div>
                    </div>
    
  
                </div>


            </div>
            <div class="col-md-6">
                <div class="row text-left marge-left responsive-marge-top">
                    <h1 class="Helvt">RÉSEAUX SOCIAUX</h1>
                </div>
                <div class="BottomBlueLigne marge-left marge-bot"></div>
                
                <br>

                <div class="row text-left marge-left" id="social">
                    <div class="col-lg-2 col-md-3 col-3 nopadding">
                        <a href="https://www.linkedin.com/in/laurent-savivanh-42342618b" target="_blank"><button class="btn nodeco size"><fa-icon [icon]="faLinkedin" class="h1 text-primary " ></fa-icon></button></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-3 nopadding">
                        <a href="https://fr-fr.facebook.com/laurent.savivanh" target="_blank"><button class="btn nodeco size"><fa-icon [icon]="faFacebook" class="h1 text-primary " ></fa-icon></button></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-3 nopadding">
                        <a href="https://twitter.com/SavivanhL" target="_blank"><button class="btn nodeco size"><fa-icon [icon]="faTwitter" class="h1 text-primary " ></fa-icon></button></a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-3 nopadding">
                        <a href="https://github.com/LaurentSav" target="_blank"><button class="btn nodeco size"><fa-icon [icon]="faGithub" class="h1 text-primary " ></fa-icon></button></a>
                    </div>
                </div>
                

            </div>
        </div>
    </div>

    <br><br>


    <div class="row responsive-marge-top">
        <div class="col-md-6">
            <div class="row text-left marge-left responsive-marge-top">
                <h1 class="Helvt">Autres Informations</h1>
            </div>
            <div class="BottomBlueLigne marge-left marge-bot"></div>
            <br>
            <div class="row text-left marge-left">
                <p>Autres</p>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>
        


    
    



</div>