<header>
    <div class="Head-Container">
        <h1 class = "Titre">Laurent Savivanh</h1>
        <h4 class = "Titre2">Etudiant en Ingénierie Informatique</h4>
        <nav>
            <ul>
                <li ><a href="#" routerLink="/" id="Home" class="underline" >Home</a></li>
                <li ><a href="#" routerLink="/Projet" id="Projet" class="underline">Projet</a></li>
                <li ><a href="#" routerLink="/Contact" id="Contact" class="underline">Contact</a></li>
            </ul>
        </nav>

    </div>
</header>

<div class = "BottomLigne"> </div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<br>

<footer>
    <div class="BottomLigne"></div>
    <br>
    <div class="text-center">
        <p>©2021 Laurent SAVIVANH</p>
        <p id="iconn">Icons made by <a href="https://www.flaticon.com/authors/cursor-creative" title="Cursor Creative">Cursor Creative</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
    </div>
    <br>
</footer>
