<div id="Puissance4" class="container">

    <div class="container">
        <h2>Description du projet</h2>

    </div>
    <div class="container">
        <div class = "marginauto">
            <iframe id="FrameP" src="https://replit.com/@LaurentSavivanh/Puissance4?embed=1&output=1#Main.java" title="Puissance4"> </iframe>
            <br>
            <h5>nb : Il faut appuyer sur le bouton run</h5>
            <p id="Code">Code : <a href="https://repl.it/@LaurentSavivanh/Puissance4#Main.java">Replit</a> ou <a href="https://github.com/LaurentSav/Puissance4">GitHub</a></p>
            <br>
            <p>J'ai refais ce projet mais de façon plus organisé et plus professionnel: <a href="https://github.com/LaurentSav/Projet_IA">GitHub</a></p>
        </div>
        

    </div>
</div>