<div id="Puissance4" class="container">

    <div class="container">
        <h2>Description du projet</h2>
        <div class="BottomBlueLigne marge-left marge-bot"></div>
        <br>

        <p>Projet scolaire portant sur la conception du jeu 'Puissance 4' et l'implémentation d'un agent basé sur l'utilité.
          <br>Cet agent utilise l'algorithme Min-Max avec élégage Alpha-Beta pour choisir le meilleur coup selon la pronfondeur de l'arbre de recherche donnée.
          <br>J'ai refais ce projet mais de façon plus organisé et plus structuré: <a href="https://github.com/LaurentSav/Projet_IA">GitHub</a>
        </p>
    </div>

    <div class ="container">
      <h2>Exécution du projet</h2>
      <div class="BottomBlueLigne marge-left marge-bot"></div>
      <br>
    </div>

    <div class="container d-flex justify-content-center">
      <div>
        <iframe id="FrameP" src="https://replit.com/@LaurentSavivanh/Puissance4?embed=1&output=1#Main.java" title="Puissance4"> </iframe>
        <p id="Code" class="text-center">Code : <a href="https://repl.it/@LaurentSavivanh/Puissance4#Main.java">Replit</a> ou <a href="https://github.com/LaurentSav/Puissance4">GitHub</a></p>

      </div>
    </div>
</div>
