<div id = "CalculBoite">

    <div class="row">
        <div class="col-md-12 Taille" id="Resultat">120</div>
    </div>
    <div class="row">
        <div class="col-md-3 Taille Bouton BoutonNuage Border" (click)="Clear()">A/C</div>
        <div class="col-md-3 Taille Bouton BoutonNuage Border" (click)="ClearForm()">Clear</div>
        <div class="col-md-3 Taille Bouton BoutonNuage Border" (click)="Erase()"><fa-icon [icon]="fabackspace" class="text-dark " ></fa-icon></div>
        <div class="col-md-3 Taille Bouton BoutonBleu Border" (click)="InputOperator('/')">/</div>
    </div>
    <div class="row">
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="7" (click)="InputChiffre('7')">7
        </div>
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="8" (click)="InputChiffre('8')">8</div>
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="9" (click)="InputChiffre('9')">9</div>
        <div class="col-md-3 Taille Bouton BoutonBleu Border" (click)="InputOperator('*')">*</div>
    </div>
    <div class="row">
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="4" (click)="InputChiffre('4')">4</div>
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="5" (click)="InputChiffre('5')">5</div>
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="6" (click)="InputChiffre('6')">6</div>
        <div class="col-md-3 Taille Bouton BoutonBleu Border" (click)="InputOperator('-')">-</div>
    </div>
    <div class="row">
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="1" (click)="InputChiffre('1')">1</div>
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="2" (click)="InputChiffre('2')">2</div>
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="3" (click)="InputChiffre('3')">3</div>
        <div class="col-md-3 Taille Bouton BoutonBleu Border" (click)="InputOperator('+')">+</div>
    </div>
    <div class="row">
        <div class="col-md-3 Taille Bouton BoutonNuage Border"></div>
        <div class="col-md-3 Taille Bouton BoutonBlanc Border" id="0" (click)="InputChiffre('0')">0</div>
        <div class="col-md-3 Taille Bouton BoutonNuage Border" (click)="InputVirgule('.')">.</div>
        <div class="col-md-3 Taille Bouton Border BoutonRouge" (click)="Equal()">=</div>
    </div>


</div>