.wrap
    margin: auto
    width: 80%
.smaller-image 
    width: 100%

    border-color: lightgrey
    border-width: 2px
    border-style: solid
    border-radius: 50%

.marge-top
    margin-top: 5%
.marge-left
    margin-left: 3%
.marge-bot
    margin-bottom: 2%


#cv
    justify-content: center

.Helvt
    font-family: Arial,Helvetica,sans-serif
    font-weight: bold
    font-size: 2.0rem

.BottomBlueLigne
    border-bottom: 6px solid #2980b9
    width: 10%

#RowInfo
    
    font-family: 'Roboto', sans-serif

.cont
  height: 0px
  overflow: hidden

.show
  overflow: visible
  height: auto


.nodeco:focus
    text-decoration: none !important
    outline: none
    box-shadow: none
.nomargin
    margin-bottom: 8px
    margin-top: 0px3

#Experience
    height: 250px
#Formation
    height: 350px

.height50
    height: 80%

@media only screen and (min-width: 350px) and (max-width: 500px)
    .responsive-marge-top
        margin-top: 10%
        
    h4
        font-size: 20px
    p 
        font-size: 16px
    h1
        font-size: 18px
    h3
        font-size: 22px
    
    #Experience
        height: 350px
    #Formation
        height: 450px
    .BottomBlueLigne
        width: 25%

    li
        font-size: 16px
    .smaller-image 
        width: 80%
        

@media only screen and (min-width: 500px) and (max-width: 800px)
    .responsive-marge-top
        margin-top: 10%
        
    h4
        font-size: 22px
    p 
        font-size: 18px
    h1
        font-size: 20px
    h3
        font-size: 24px
    
    #Experience
        height: 300px
    #Formation
        height: 400px
    .BottomBlueLigne
        width: 15%

    li
        font-size: 18px

@media only screen  and (max-width: 350px)
    .responsive-marge-top
        margin-top: 10%
        
    h4
        font-size: 20px
    p 
        font-size: 16px
    h1
        font-size: 18px
    h3
        font-size: 22px
    
    #Experience
        height: 400px
    #Formation
        height: 550px
    .BottomBlueLigne
        width: 25%

    li
        font-size: 16px
