<div id="Puissance4" class="container">

  <div class="container">
    <h2>Description du projet</h2>
    <div class="BottomBlueLigne marge-left marge-bot"></div>
    <br>

    <p>Projet scolaire portant sur la résolution de grille de taquin en utilisant l'algorithme de recherche A*.
    </p>
  </div>

  <div class ="container">
    <h2>Exécution du projet</h2>
    <div class="BottomBlueLigne marge-left marge-bot"></div>
    <br>
  </div>

  <div class="container d-flex justify-content-center">
    <div>
      <iframe id="FrameP" src="https://replit.com/@LaurentSavivanh/Taquin?embed=1&output=1#Main.java" title="Puissance4"> </iframe>
      <p id="Code" class="text-center">Code : <a href="https://repl.it/@LaurentSavivanh/Taquin#Main.java">Replit</a> ou <a href="https://github.com/LaurentSav/Taquin">GitHub</a></p>
    </div>
  </div>
</div>
